* {
  margin: 0;
  padding: 0;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1, .header h2 {
  padding: 1rem;
}

.main {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main .output {
  width: 100%;
  text-align: center;
}
.footer {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}